@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
body > div:first-child,
div#__next {
  height: 100%;
}

.indexPageButtons{
  @apply text-3xl 
  bg-transparent  
  font-semibold  
  py-2 
  px-4 
  border-2 
  border-techNLWhite 
  hover:border-transparent 
  rounded
  transition-all
  ease-linear
  duration-100
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
